h1{
			border: 5px solid powderblue;
			padding: 30px;
			margin-right: auto;
			width: 50%;
			margin-left: auto;
		}
		.border{
			border: 5px solid powderblue;
			padding: 30px;
		}
		.mb-1{
			margin-bottom: 5px;
		}
		#box1{
			width: 46%;
			float: left;
		}
		#box2{
			width: 46%;
			float: right;
		}
		#box3{
			padding: 30px;
		}
		.clear{
			clear: both;
		}
		.center{
			text-align: center;
		}
		.img-1{
			width: 350px;
		}